@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding-bottom: 5%;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background: #e84a4a;
  border-radius: 10px;
}

body::after {
  position: fixed;
  top: -20px;
  right: -20px;
  content: "";
  display: block;
  height: 50%;
  width: 50%;
  background: rgb(0, 0, 3);
  background: linear-gradient(
    49deg,
    rgb(0, 0, 3) 75%,
    rgba(82, 32, 32, 0.678) 85%,
    rgba(232, 74, 74, 0.678) 98%,
    rgb(232, 74, 74) 100%
  );
  filter: blur(15px);
  z-index: -1;
}

:root {
  font-family: "Iceland", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #000003;

  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-overflow-scrolling: touch;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 99;
}

input {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.p-r {
  position: relative;
}

.w100 {
  width: 100%;
}

.df {
  display: flex;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.aic {
  align-items: center;
}

.aife {
  align-items: flex-end;
}

.fdc {
  flex-direction: column;
}

.fw {
  flex-wrap: wrap;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.cp {
  cursor: pointer;
}
